{% extends 'doctors/base.html' %}
{% load static %}

{% block content %}
<!-- Start -->
<section class="bg-hero">
            <div class="container">
                <div class="row mt-lg-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="rounded shadow overflow-hidden sticky-bar">
                            <div class="card border-0">
                                <img src="{% static 'assets/images/bg/bg-profile.jpg' %}" class="img-fluid" alt="">
                            </div>
                            
                            <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
                                <img src="{% static 'assets/images/client/09.jpg' %}" class="rounded-circle shadow-md avatar avatar-md-md" alt="">
                                <h5 class="mt-3 mb-1">Dr. {{user.full_name}}</h5>
                                {% if doctor.age is None %}
                                {% else %}
                                <p class="text-muted mb-0">{{doctor.age}} Years old</p>
                                {% endif %}
                            </div>

                            <div class="list-unstyled p-4">
                                {% comment %} <div class="progress-box mb-4">
                                    <h6 class="title">Complete your profile</h6>
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-primary" style="width:89%;">
                                            <div class="progress-value d-block text-muted h6">89%</div>
                                        </div>
                                    </div>
                                </div><!--end process box--> {% endcomment %}

                                {% if doctor is None %}

                                {% else %}

                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-user align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Gender</h6>
                                    <p class="text-muted mb-0 ms-2">{{doctor.gender}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-envelope align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Email</h6>
                                    <p class="text-muted mb-0 ms-2">{{doctor.user.email}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-book-open align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Phone No.</h6>
                                    <p class="text-muted mb-0 ms-2">+91{{doctor.user.phone_number}}</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Address</h6>
                                    <p class="text-muted mb-0 ms-2">{{doctor.address}}</p>
                                </div>
                                
                                {% endif %}

                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card border-0 shadow overflow-hidden">
                            <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-light mb-0" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 active" id="overview-tab" data-bs-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="false">
                                        <div class="text-center pt-1 pb-1">
                                            <h4 class="title fw-normal mb-0">Profile</h4>
                                        </div>
                                    </a><!--end nav link-->
                                </li><!--end nav item-->
                                
                                <li class="nav-item">
                                    <a class="nav-link rounded-0" id="experience-tab" data-bs-toggle="pill" href="#pills-experience" role="tab" aria-controls="pills-experience" aria-selected="false">
                                        <div class="text-center pt-1 pb-1">
                                            <h4 class="title fw-normal mb-0">Profile Settings</h4>
                                        </div>
                                    </a><!--end nav link-->
                                </li><!--end nav item-->
                            </ul>

                            <div class="tab-content p-4" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <h5 class="mb-0">Personal Information :</h5>

                                    {% if doctor is None %}

                                    <h4 class="mt-3 text-muted text-center">Update your details</h4>

                                    {% else %}
        
                                    <div class="mt-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Medical Speciality</label>
                                                    <p class="text-muted mb-0">{{doctor.medical_speciality}}</p>
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Degree</label>
                                                    <p class="text-muted mb-0">{{doctor.degree}}</p>
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Experience</label>
                                                    <p class="text-muted mb-0">{{doctor.experience}}</p>
                                                </div> 
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Registration no.</label>
                                                    <p class="text-muted mb-0">{{doctor.registration_no}}</p>
                                                </div>                                                                               
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">State Medical Council</label>
                                                    <p class="text-muted mb-0">{{doctor.state_medical_council}}</p>
                                                </div>                                                                               
                                            </div><!--end col-->

                                            {% comment %} <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone no.</label>
                                                    <p class="text-muted mb-0">{{doctor.age}}</p>
                                                </div>                                                                               
                                            </div><!--end col--> {% endcomment %}

                                            {% comment %} <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone no.</label>
                                                    <p class="text-muted mb-0">{{doctor.age}}</p>
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone no.</label>
                                                    <p class="text-muted mb-0">{{doctor.age}}</p>
                                                </div>                                                                               
                                            </div><!--end col--> {% endcomment %}
                                        </div><!--end row-->
                                    </div><!--end form-->

                                    {% endif %}

                                    <h5 class="mb-0">Add Personal Information :</h5>
                                    {% comment %} <div class="row align-items-center mt-4">
                                        <div class="col-lg-2 col-md-4">
                                            <img src="{% static 'assets/images/client/09.jpg' %}" class="avatar avatar-md-md rounded-pill shadow mx-auto d-block" alt="">
                                        </div><!--end col-->
    
                                        <div class="col-lg-5 col-md-8 text-center text-md-start mt-4 mt-sm-0">
                                            <h6 class="">Upload your picture</h6>
                                            <p class="text-muted mb-0">For best results, use an image at least 256px by 256px in either .jpg or .png format</p>
                                        </div><!--end col-->
    
                                        <div class="col-lg-5 col-md-12 text-lg-right text-center mt-4 mt-lg-0">
                                            <a href="#" class="btn btn-primary">Upload</a>
                                            <a href="#" class="btn btn-soft-primary ms-2">Remove</a>
                                        </div><!--end col-->
                                    </div><!--end row--> {% endcomment %}
        
                                    <form method="POST" class="mt-4">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_register_form.first_name.label}}
                                                    {{add_register_form.first_name}}
                                                    {% comment %} <label class="form-label">First Name</label>
                                                    <input name="name" id="name" type="text" class="form-control" placeholder="First Name :"> {% endcomment %}
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_register_form.last_name.label}}
                                                    {{add_register_form.last_name}}
                                                    {% comment %} <label class="form-label">Last Name</label>
                                                    <input name="name" id="name2" type="text" class="form-control" placeholder="Last Name :"> {% endcomment %}
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_register_form.email.label}}
                                                    {{add_register_form.email}}
                                                    {% comment %} <label class="form-label">Your Email</label>
                                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :"> {% endcomment %}
                                                </div> 
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_register_form.phone_number.label}}
                                                    {{add_register_form.phone_number}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.age.label}}
                                                    {{add_doctor_form.age}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.gender.label}}
                                                    {{add_doctor_form.gender}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.medical_speciality.label}}
                                                    {{add_doctor_form.medical_speciality}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.degree.label}}
                                                    {{add_doctor_form.degree}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.experience.label}}
                                                    {{add_doctor_form.experience}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.registration_no.label}}
                                                    {{add_doctor_form.registration_no}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{add_doctor_form.state_medical_council.label}}
                                                    {{add_doctor_form.state_medical_council}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->
    
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    {{add_doctor_form.address.label}}
                                                    {{add_doctor_form.address}}
                                                    {% comment %} <label class="form-label">Your Bio Here</label>
                                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Bio :"></textarea> {% endcomment %}
                                                </div>
                                            </div>
                                        </div><!--end row-->
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit" name="send" class="btn btn-primary" value="Save changes">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->
                                    
                                </div>

                                <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="experience-tab">
                                    <h5 class="mb-0">Edit Personal Information :</h5>
                                    {% comment %} <div class="row align-items-center mt-4">
                                        <div class="col-lg-2 col-md-4">
                                            <img src="{% static 'assets/images/client/09.jpg' %}" class="avatar avatar-md-md rounded-pill shadow mx-auto d-block" alt="">
                                        </div><!--end col-->
    
                                        <div class="col-lg-5 col-md-8 text-center text-md-start mt-4 mt-sm-0">
                                            <h6 class="">Upload your picture</h6>
                                            <p class="text-muted mb-0">For best results, use an image at least 256px by 256px in either .jpg or .png format</p>
                                        </div><!--end col-->
    
                                        <div class="col-lg-5 col-md-12 text-lg-right text-center mt-4 mt-lg-0">
                                            <a href="#" class="btn btn-primary">Upload</a>
                                            <a href="#" class="btn btn-soft-primary ms-2">Remove</a>
                                        </div><!--end col-->
                                    </div><!--end row--> {% endcomment %}
        
                                    <form method="POST" class="mt-4">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{register_form.first_name.label}}
                                                    {{register_form.first_name}}
                                                    {% comment %} <label class="form-label">First Name</label>
                                                    <input name="name" id="name" type="text" class="form-control" placeholder="First Name :"> {% endcomment %}
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{register_form.last_name.label}}
                                                    {{register_form.last_name}}
                                                    {% comment %} <label class="form-label">Last Name</label>
                                                    <input name="name" id="name2" type="text" class="form-control" placeholder="Last Name :"> {% endcomment %}
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{register_form.email.label}}
                                                    {{register_form.email}}
                                                    {% comment %} <label class="form-label">Your Email</label>
                                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :"> {% endcomment %}
                                                </div> 
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{register_form.phone_number.label}}
                                                    {{register_form.phone_number}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.age.label}}
                                                    {{doctor_form.age}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.gender.label}}
                                                    {{doctor_form.gender}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.medical_speciality.label}}
                                                    {{doctor_form.medical_speciality}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.degree.label}}
                                                    {{doctor_form.degree}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.experience.label}}
                                                    {{doctor_form.experience}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.registration_no.label}}
                                                    {{doctor_form.registration_no}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    {{doctor_form.state_medical_council.label}}
                                                    {{doctor_form.state_medical_council}}
                                                    {% comment %} <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :"> {% endcomment %}
                                                </div>                                                                               
                                            </div><!--end col-->
    
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    {{doctor_form.address.label}}
                                                    {{doctor_form.address}}
                                                    {% comment %} <label class="form-label">Your Bio Here</label>
                                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Bio :"></textarea> {% endcomment %}
                                                </div>
                                            </div>
                                        </div><!--end row-->
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit" name="send" class="btn btn-primary" value="Save changes">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->

                                    {% comment %} <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Change Password :</h5>
        
                                        <form class="mt-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Old password :</label>
                                                        <input type="password" class="form-control" placeholder="Old password" required="">
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">New password :</label>
                                                        <input type="password" class="form-control" placeholder="New password" required="">
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Re-type New password :</label>
                                                        <input type="password" class="form-control" placeholder="Re-type New password" required="">
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12 mt-2 mb-0">
                                                    <button class="btn btn-primary">Save password</button>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </form>
                                    </div> {% endcomment %}
                                    
                                    {% comment %} <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Account Notifications :</h5>
        
                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="mb-0">When someone mentions me</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">When someone follows me</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked>
                                                <label class="form-check-label" for="flexCheckChecked1"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">When shares my activity</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                <label class="form-check-label" for="flexCheckDefault2"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">When someone messages me</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
                                                <label class="form-check-label" for="flexCheckChecked3"></label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Marketing Notifications :</h5>

                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="mb-0">There is a sale or promotion</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked>
                                                <label class="form-check-label" for="flexCheckChecked4"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">Company news</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                                <label class="form-check-label" for="flexCheckDefault5"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">Weekly jobs</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
                                                <label class="form-check-label" for="flexCheckDefault6"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">Unsubscribe News</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked7" checked>
                                                <label class="form-check-label" for="flexCheckChecked7"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0 text-danger">Delete Account :</h5>
        
                                        <p class="mb-0 mt-4">Do you want to delete the account? Please press below "Delete" button</p>
                                        <div class="mt-4">
                                            <button class="btn btn-danger">Delete Account</button>
                                        </div><!--end col-->
                                    </div> {% endcomment %}
                                </div>
                            </div>                     
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->
        {% endblock content %}
