{% extends 'base.html' %}

        <!-- Start -->
        <section class="bg-hero">
            <div class="container">
                <div class="row mt-lg-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="rounded shadow overflow-hidden sticky-bar">
                            <div class="card border-0">
                                <img src="{% static '/images/bg/bg-profile.jpg' %}" class="img-fluid" alt="">
                            </div>

                            <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
                                <img src="{% static '/images/client/09.jpg' %}" class="rounded-circle shadow-md avatar avatar-md-md" alt="">
                                <h5 class="mt-3 mb-1">Christopher Burrell</h5>
                                <p class="text-muted mb-0">25 Years old</p>
                            </div>

                            <div class="list-unstyled p-4">
                                <div class="progress-box mb-4">
                                    <h6 class="title">Complete your profile</h6>
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-primary" style="width:89%;">
                                            <div class="progress-value d-block text-muted h6">89%</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->

                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-user align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Gender</h6>
                                    <p class="text-muted mb-0 ms-2">Female</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-envelope align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Birthday</h6>
                                    <p class="text-muted mb-0 ms-2">19th January 1995</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-book-open align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Phone No.</h6>
                                    <p class="text-muted mb-0 ms-2">+(125) 458-8547</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Address</h6>
                                    <p class="text-muted mb-0 ms-2">Sydney, Australia</p>
                                </div>
                                
                                <div class="d-flex align-items-center mt-2">
                                    <i class="uil uil-medical-drip align-text-bottom text-primary h5 mb-0 me-2"></i>
                                    <h6 class="mb-0">Blood Group</h6>
                                    <p class="text-muted mb-0 ms-2">B +</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card border-0 shadow overflow-hidden">
                            <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-light mb-0" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 active" id="overview-tab" data-bs-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="false">
                                        <div class="text-center pt-1 pb-1">
                                            <h4 class="title fw-normal mb-0">Profile</h4>
                                        </div>
                                    </a><!--end nav link-->
                                </li><!--end nav item-->
                                
                                <li class="nav-item">
                                    <a class="nav-link rounded-0" id="experience-tab" data-bs-toggle="pill" href="#pills-experience" role="tab" aria-controls="pills-experience" aria-selected="false">
                                        <div class="text-center pt-1 pb-1">
                                            <h4 class="title fw-normal mb-0">Profile Settings</h4>
                                        </div>
                                    </a><!--end nav link-->
                                </li><!--end nav item-->
                            </ul>

                            <div class="tab-content p-4" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <h5 class="mb-0">Introduction:</h5>

                                    <p class="text-muted mt-4 mb-0">Web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. Dummy texts have been in use by typesetters since the 16th century.</p>
                                
                                    <div class="row">
                                        <div class="col-lg-6 col-12 mt-4">
                                            <h5>Appointment List</h5>
            
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="ri-heart-pulse-line h3 fw-normal text-primary mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">Cardiogram</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Dr. Calvin Carlo</p>
                                                </div>
                                                <span class="mb-0">10 Dec</span>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="ri-stethoscope-line h3 fw-normal text-success mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">Checkup</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Dr. Cristino Murphy</p>
                                                </div>
                                                <span class="mb-0">12 Dec</span>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="ri-virus-line h3 fw-normal text-warning mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">Covid Test</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Dr. Alia Reddy</p>
                                                </div>
                                                <span class="mb-0">13 Dec</span>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="ri-dossier-line h3 fw-normal text-secondary mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">Dentist</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Dr. Toni Kovar</p>
                                                </div>
                                                <span class="mb-0">15 Dec</span>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="ri-eye-2-line h3 fw-normal text-info mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">Eye Test</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Dr. Jessica McFarlane</p>
                                                </div>
                                                <span class="mb-0">17 Dec</span>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <i class="ri-microscope-line h3 fw-normal text-danger mb-0"></i>
                                                <div class="flex-1 overflow-hidden ms-2">
                                                    <h6 class="mb-0">Orthopedic</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Dr. Elsie Sherman</p>
                                                </div>
                                                <span class="mb-0">18 Dec</span>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-6 col-12 mt-4">
                                            <h5>Payment List</h5>
            
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Cardiogram</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Checkup</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Covid Test</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Dentist</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Eye Test</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
    
                                            <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                <div class="flex-1 overflow-hidden">
                                                    <h6 class="flex-1 mb-0">Orthopedic</h6>
                                                    <p class="text-muted mb-0 text-truncate small">Full bill paid</p>
                                                </div>
                                                <a href="#" class="btn btn-icon btn-primary" data-bs-toggle="modal" data-bs-target="#view-invoice"><i class="uil uil-clipboard-notes icons"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="mb-0 mt-4 pt-2">Contact us</h5>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6 mt-4">
                                            <div class="card features feature-primary text-center border-0 p-4 rounded shadow">
                                                <div class="icon text-center rounded-lg mx-auto">
                                                    <i class="uil uil-message align-middle h3"></i>
                                                </div>
                                                <div class="card-body p-0 mt-3">
                                                    <a href="#" class="title text-dark h6 d-block">New Messages</a>
                                                    <a href="#" class="link">Read more <i class="ri-arrow-right-line align-middle"></i></a>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        
                                        <div class="col-md-12 col-lg-6 mt-4">
                                            <div class="card features feature-primary text-center border-0 p-4 rounded shadow">
                                                <div class="icon text-center rounded-lg mx-auto">
                                                    <i class="uil uil-envelope-star align-middle h3"></i>
                                                </div>
                                                <div class="card-body p-0 mt-3">
                                                    <a href="#" class="title text-dark h6 d-block">Latest Proposals</a>
                                                    <a href="#" class="link">View more <i class="ri-arrow-right-line align-middle"></i></a>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div>

                                <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="experience-tab">
                                    <h5 class="mb-0">Personal Information :</h5>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-lg-2 col-md-4">
                                            <img src="{% static '/images/client/09.jpg' %}" class="avatar avatar-md-md rounded-pill shadow mx-auto d-block" alt="">
                                        </div><!--end col-->
    
                                        <div class="col-lg-5 col-md-8 text-center text-md-start mt-4 mt-sm-0">
                                            <h6 class="">Upload your picture</h6>
                                            <p class="text-muted mb-0">For best results, use an image at least 256px by 256px in either .jpg' %} or .png' %} format</p>
                                        </div><!--end col-->
    
                                        <div class="col-lg-5 col-md-12 text-lg-right text-center mt-4 mt-lg-0">
                                            <a href="#" class="btn btn-primary">Upload</a>
                                            <a href="#" class="btn btn-soft-primary ms-2">Remove</a>
                                        </div><!--end col-->
                                    </div><!--end row-->
        
                                    <form class="mt-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">First Name</label>
                                                    <input name="name" id="name" type="text" class="form-control" placeholder="First Name :">
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Last Name</label>
                                                    <input name="name" id="name2" type="text" class="form-control" placeholder="Last Name :">
                                                </div>
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Your Email</label>
                                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :">
                                                </div> 
                                            </div><!--end col-->
    
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Phone no.</label>
                                                    <input name="number" id="number" type="text" class="form-control" placeholder="Phone no. :">
                                                </div>                                                                               
                                            </div><!--end col-->
    
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Your Bio Here</label>
                                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Bio :"></textarea>
                                                </div>
                                            </div>
                                        </div><!--end row-->
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit" name="send" class="btn btn-primary" value="Save changes">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->

                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Change Password :</h5>
        
                                        <form class="mt-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Old password :</label>
                                                        <input type="password" class="form-control" placeholder="Old password" required="">
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">New password :</label>
                                                        <input type="password" class="form-control" placeholder="New password" required="">
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Re-type New password :</label>
                                                        <input type="password" class="form-control" placeholder="Re-type New password" required="">
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12 mt-2 mb-0">
                                                    <button class="btn btn-primary">Save password</button>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </form>
                                    </div>
                                    
                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Account Notifications :</h5>
        
                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="mb-0">When someone mentions me</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">When someone follows me</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked>
                                                <label class="form-check-label" for="flexCheckChecked1"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">When shares my activity</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                <label class="form-check-label" for="flexCheckDefault2"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">When someone messages me</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
                                                <label class="form-check-label" for="flexCheckChecked3"></label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0">Marketing Notifications :</h5>

                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="mb-0">There is a sale or promotion</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked>
                                                <label class="form-check-label" for="flexCheckChecked4"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">Company news</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                                <label class="form-check-label" for="flexCheckDefault5"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">Weekly jobs</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
                                                <label class="form-check-label" for="flexCheckDefault6"></label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="mb-0">Unsubscribe News</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked7" checked>
                                                <label class="form-check-label" for="flexCheckChecked7"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4 pt-2">
                                        <h5 class="mb-0 text-danger">Delete Account :</h5>
        
                                        <p class="mb-0 mt-4">Do you want to delete the account? Please press below "Delete" button</p>
                                        <div class="mt-4">
                                            <button class="btn btn-danger">Delete Account</button>
                                        </div><!--end col-->
                                    </div>
                                </div>
                            </div>                     
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->
