{% extends 'admin_panel/base.html' %}



{% block content %}
<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <h5 class="mb-0">Specialities</h5>
            <div>
                <button class="btn btn-primary"><a class="text-white" href="{% url 'add_speciality' %}">Add Speciality</a></button>
            </div>

            
        </div>


<div class="row">
    <div class="col-12 mt-4">
        <div class="table-responsive bg-white shadow rounded">
            <table class="table mb-0 table-center">
                <thead>
                    <tr>
                        <th class="border-bottom p-3" style="min-width: 50px;">#</th>
                        <th class="border-bottom p-3" style="min-width: 180px;">Speciality</th>
                        <th class="border-bottom p-3" style="min-width: 150px;">Discription</th>
                        <th class="border-bottom p-3" style="min-width: 150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in specialities %}
                    <tr>
                        <th class="p-3">{{ forloop.counter }}</th>
                        <td class="p-3">{{i.speciality}}</td>
                        <td class="p-3">{{i.discription}}</td>
                        <td class="p-3">
                            <button class="mb-2 btn btn-warning"><a class="text-white" href="{% url 'edit_speciality' i.id %}">Edit <i data-feather="edit" class="fea icon-sm"></i></a></button>
                            <button class="btn btn-danger"><a class="text-white" href="{% url 'delete_speciality' i.id %}">Delete <i data-feather="delete" class="fea icon-sm"></i></a></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div><!--end row-->



{% endblock content %}